.adduser{
    background-color: wheat;
    width: 25%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
}

.adduserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adduserForm .inputGroup label{
    margin-top: 5px;
}
.adduserForm.inputGroup button {
    margin-top: 8px;
}
.adduser h3{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: aquamarine;
    text-transform: uppercase;
}